<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YouDJ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  .navbar-inverse {
    color: mediumseagreen;
    background-color:mediumseagreen;
    border-color: mediumseagreen;
    background-image: none;
    background-repeat: no-repeat;
    }

    .navbar-inverse .navbar-text {
      color: white;
      font-size: 17px;
      vertical-align: middle;
      }

    .navbar-inverse .navbar-brand {
      color: white;
      }
  </style>
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    //Declaración de la variable enPausa
    <% if (enPausa == "0") { %>
        var enPausa=false;
    <%} else { %>
        var enPausa=true;
    <% } %>
    $( "#enviarNotificacion" ).submit(function( event ) {
      if (enPausa==true)
      {
        alert("No puede enviar notificaciones cuando la votación está pausada");
        event.preventDefault();
      }
    });
    $( ".formVotar" ).submit(function( event ) {
      if (enPausa==true)
      {
        alert("No puede elegir una canción cuando la votación está pausada");
        event.preventDefault();
      }
    });
  });
</script>
  </script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">YouDJ - Consola</a>
    </div>
        <p class="navbar-brand"><span class="glyphicon glyphicon-option-vertical"></span></p>
    <% for(var i=0; i<sonando.length; i++) {%>
        <p class="navbar-brand"><span class="glyphicon glyphicon-volume-up"></span></p>
        <p class="navbar-brand"><%= sonando[i].titulo %></p>
        <form class="navbar-form navbar-left" action="/terminarCancionSonando" method="POST">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
        </form>
      <% } %>
      <form class="navbar-form navbar-right" action="/logout" method="POST">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
      </form>
      <form class="navbar-form navbar-right" action="/enviarNotificacion" method="POST" id="enviarNotificacion">
        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Enviar Notificación"><span class="glyphicon glyphicon-envelope"></span></button>
      </form>
      <% if (enPausa == "0") { %>
        <form class="navbar-form navbar-right" action="/pausar" method="POST">
          <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Pausar votación"><span class=" glyphicon glyphicon-pause "></span></button>
        </form>
        <p class="navbar-brand navbar-right">Votación en curso</p>
        <% } else { %>
        <form class="navbar-form navbar-right" action="/reanudar" method="POST">
          <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Reaundar votación"><span class=" glyphicon glyphicon-play "></span></button>
        </form>
        <p class="navbar-brand navbar-right">Votación pausada</p>
    <% } %>

  </div>
  </nav>

  <div class="container">
    <!--h2>Ingrese una canción nueva</h2-->

      <div class="row">
        <form action="/cancion" method="POST">
          <p class="col-sm-6">
             <input type="text" class="form-control" id="idEvento" placeholder="Nueva canción para votar" name="Nombre">
          </p>
          <p class="col-sm-1">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
          </p>
          </form>
      </div>
      <div class="row">
        <form action="/cargarArchivos" method="POST">
          <div class="col-sm-6">
            <input type="file" name="files[]" multiple />
          </div>
          <div class="col-sm-1">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
            </div>
      </form>
      </div>
    </div>

  <br>
  <hr class="style1">
  <br>

  <div class="container">
      <!--h2><strong>Canciones disponibles para votación</strong></h2-->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" style="width: 30%">Canciones para votar</th>
            <th class="text-center" style="width: 20%">Votos</th>
              <th class="text-center" style="width: 1%"></th>
            <% if (aVotar.length > 0) { %>
            <th class="text-center" style="width: 1%">
              <form action="/ponerVotarTodo" method="GET" >
                <input style="display: none;" type="text" name="id">
                <button type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Poner todas en votación"><span class="glyphicon glyphicon-triangle-top"></span></button>
              </form>
              <form action="/quitarVotarTodo" method="GET" >
                <input style="display: none;" type="text" name="id">
                <button type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Quitar todas de votación"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
              </form>
            </th>
            <th class="text-center" style="width: 1%">
              <form action="/quitarTodo" method="GET">
                <input style="display: none;" type="text" name="id">
                <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar todas"><span class="glyphicon glyphicon-remove"></span></button>
              </form>
            </th>
            <% } else { %>
              <th class="text-center" style="width: 1%"></th>
              <th class="text-center" style="width: 1%"></th>
            <% }%>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<aVotar.length; i++) {%>
            <tr>
              <td class="text-center"><%= aVotar[i].titulo %></td>
              <td class="text-center"><%= aVotar[i].votos %></td>
              <td class="text-center">
                <% if (aVotar[i].estado == "Votar") { %>
                <form action="/elegir" method="GET" class="formVotar">
                  <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
                  <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Elegir"><span class="glyphicon glyphicon-play"></span></button>
                </form>
                <% } %>
              </td>
              <td class="text-center">
                <% if (aVotar[i].estado == "Pendiente") { %>
                <form action="/ponerVotar" method="GET">
                <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
                <button type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Poner en votación"><span class="glyphicon glyphicon-triangle-top"></span></button>
                </form>
                <% } else { %>
                <form action="/quitarVotar" method="GET">
                <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
                <button type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Quitar de votación"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                </form>
                <% } %>
              </td>
              <td class="text-center">
                <form action="/quitar" method="GET">
                  <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
                  <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar"><span class="glyphicon glyphicon-remove"></span></button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
  </div>

  <br>
  <hr class="style1">
  <br>

  <div class="container">
      <!--h2><strong>Canciones ya escuchadas</strong></h2-->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center" style="width: 30%">Canciones ya escuchadas</th>
              <th class="text-center" style="width: 20%">Votos</th>
              <th class="text-center" style="width: 1%">
                <% if (yaEscuchadas.length > 0) { %>
                <form action="/quitarTodoEscuchado" method="GET">
                  <input style="display: none;" type="text" name="id">
                  <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar todas"><span class="glyphicon glyphicon-remove"></span></button>
                </form>
                <% } %>
              </th>
            </tr>
          </thead>
        <% for(var i=0; i<yaEscuchadas.length; i++) {%>
        <tr>
          <td class="text-center"><%= yaEscuchadas[i].titulo %></td>
          <td class="text-center"><%= yaEscuchadas[i].votos %></td>
          <td class="text-center">
            <form action="/quitar" method="GET">
              <input style="display: none;" type="text" name="id" value=<%= yaEscuchadas[i]._id %>>
              <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar"><span class="glyphicon glyphicon-remove"></span></button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
  </div>

</body>
</html>
