<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">YouDJ - Consola</a>
    </div>
    <% for(var i=0; i<sonando.length; i++) {%>
    <p class="navbar-text">Canción Sonando: <%= sonando[i].titulo %></p>
    <form class="navbar-form navbar-left" action="/terminarCancionSonando" method="POST">
      <button type="submit" class="btn btn-default">Terminar</button>
    </form>
      <% } %>
    <form class="navbar-form navbar-right" action="/logout" method="POST">
      <button type="submit" class="btn btn-default">Logout</button>
    </form>
  </div>
  </nav>

  <div class="container">
    <h2>Ingrese una canción nueva</h2>
    <form action="/cancion" method="POST">
      <div class="row">
          <div class="col-sm-6">
             <input type="text" class="form-control" id="idEvento" placeholder="Nombre de la cancion" name="Nombre">
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-default">Cargar</button>
          </div>
      </div>
    </form>
  </div>
  Canciones para Votación
  <table border="1">
    <tr>
    <th>Cancion</th>
    <th>Votos</th>
    <th> </th>
    <th> </th>
  </tr>
    <% for(var i=0; i<aVotar.length; i++) {%>
    <tr>
      <td><%= aVotar[i].titulo %></td>
      <td><%= aVotar[i].votos %></td>
      <td>
        <form action="/elegir" method="GET">
          <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
          <button type="submit">Elegir</button>
        </form>
      </td>
      <td>
        <form action="/quitar" method="GET">
          <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
          <button type="submit">Quitar</button>
        </form>
      </td>
    </tr>
    <% } %>
  </table>
  Canciones ya escuchadas
  <table border="1">
    <tr>
    <th>Cancion</th>
    <th>Votos</th>
  </tr>
    <% for(var i=0; i<yaEscuchadas.length; i++) {%>
    <tr>
      <td><%= yaEscuchadas[i].titulo %></td>
      <td><%= yaEscuchadas[i].votos %></td>
      <td>
        <form action="/quitar" method="GET">
          <input style="display: none;" type="text" name="id" value=<%= yaEscuchadas[i]._id %>>
          <button type="submit">Quitar</button>
        </form>
      </td>
    </tr>
    <% } %>
  </table>
</body>
</html>
