<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <% for(var i=0; i<sonando.length; i++) {%>
  <table border="1">
    <tr>
      <th>Canción Sonando: <%= sonando[i].titulo %></th>
      <th>
        <form action="/terminarCancionSonando" method="POST">
          <button type="submit">Terminar</button>
        </form>
      </th>
    </tr>
  </table>
  <% } %>
  Cargar una nueva cancion para votar
  <!--
  <form action="/canciones" method="GET">
    <button type="submit">Ver Canciones</button>
  </form>
  <form action="/sumarVoto" method="POST">
    <input type="text" placeholder="id" name="id">
    <button type="submit">Sumar Voto</button>
  </form>
  <form action="/restarVoto" method="POST">
    <input type="text" placeholder="id" name="id">
    <button type="submit">Restar Voto</button>
  </form>
  -->
  <form action="/cancion" method="POST">
    <input type="text" placeholder="Nombre" name="Nombre">
    <button type="submit">Cargar</button>
  </form>
  Canciones para Votación
  <table border="1">
    <tr>
    <th>Cancion</th>
    <th>Votos</th>
    <th> </th>
    <th> </th>
  </tr>
    <% for(var i=0; i<aVotar.length; i++) {%>
    <tr>
      <td><%= aVotar[i].titulo %></td>
      <td><%= aVotar[i].votos %></td>
      <td>
        <form action="/elegir" method="GET">
          <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
          <button type="submit">Elegir</button>
        </form>
      </td>
      <td>
        <form action="/quitar" method="GET">
          <input style="display: none;" type="text" name="id" value=<%= aVotar[i]._id %>>
          <button type="submit">Quitar</button>
        </form>
      </td>
    </tr>
    <% } %>
  </table>
  Canciones ya escuchadas
  <table border="1">
    <tr>
    <th>Cancion</th>
    <th>Votos</th>
  </tr>
    <% for(var i=0; i<yaEscuchadas.length; i++) {%>
    <tr>
      <td><%= yaEscuchadas[i].titulo %></td>
      <td><%= yaEscuchadas[i].votos %></td>
      <td>
        <form action="/quitar" method="GET">
          <input style="display: none;" type="text" name="id" value=<%= yaEscuchadas[i]._id %>>
          <button type="submit">Quitar</button>
        </form>
      </td>
    </tr>
    <% } %>
  </table>
</body>
</html>
